.externalWrapper {
    background-color: black;
    color: #C0C0C0;
   
   justify-content: center;
}
.internalWrapper {
    max-width: 90%;
}
.logoWrapper {
    width: 13%;
    padding-left: 5%;
}
.server-code {
    padding-inline: 25px;
    border: solid 1px;
    display: inline;
    margin-left: 30px;
}
.copy-right {
    margin-left: 30px;
}
li, .logoWrapper.div, .border, .copy-right {
    font-size: 13px;
}
@media screen and (max-width: 576px) {
    .footer_ul {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }